In [1]:
s = "This is a basic python class"
len(s)

28

In [4]:
count = 0
for i in s : 
    #count = count +1
    count+=1
print(count)

28

In [5]:
s[::-1]

'ssalc nohtyp cisab a si sihT'

In [6]:
for i in range (len(s)-1 , -1,-1):
    print(s[i])

s
s
a
l
c

n
o
h
t
y
p

c
i
s
a
b

a

s
i

s
i
h
T

In [7]:
i=len(s)-1
while(i>=0):
    print(s[i], end=" ")
    i=i-1

s s a l c   n o h t y p   c i s a b   a   s i   s i h T

In [8]:
s

'This is a basic python class'

In [9]:
s = "ineuron"
v = "AaEeIiOoUu"

In [11]:
s = "ineuron"
v = "AaEeIiOoUu"
for i in s:
    if i in v:
        print("vowel", i)
    else:
        print("not vowel", i)

vowel i
not vowel n
vowel e
vowel u
not vowel r
vowel o
not vowel n

In [12]:
s in "sudh"

False

In [13]:
s

'ineuron'

In [15]:
"u" in "ineuron"

True

In [ ]:
s is variable
u is not variable hence add ""

In [18]:
s

'ineuron'

In [ ]:
"tnent"
"malayalam"
"eye"

In [22]:
s = input()
v = s[::-1]
if s == v:
    print("Palindrome")
else:
    print("Not a palindrome")

eye
Palindrome

In [6]:
d ={"india" :"IN" ,
    "canada" : "CA",
    "china" : "CH",
    "united sates" : "US"  
   }

In [7]:
"india" in d

True

In [9]:
l_greater = []
l_smaller = []
for i in d:
    if len(i)<= 5 :
        l_greater.append(i)
    else :
        l_smaller.append(i)

In [10]:
l_greater

['india', 'china']

In [11]:
l_smaller

['canada', 'united sates']

In [31]:
d_1 = {"ineuron" :{
                      "a" : 14,
                      "b":10,
                      "c" : 4
                  },
       'course': {
                      'd':45,
                      "e" : 34,
                      'f' :1
                 }
      
      }

In [32]:
# printing maximum values
d1 = {"ineuron":{"a": 14,"b": 10,"c": 4},
      "course":{"d":45,"e":34,"f":1}
     }
for i in d1.values():
    
    mx = 0
    for j in i.values():
        if mx<j:
            mx = j
        print(mx)

14
14
14
45
45
45

In [35]:
for i in d1.values():
    print(max(i.values()))

14
45

In [40]:
for i in d1.keys():
    print(max(d1[i].values()))

14
45

In [41]:
d1

{'ineuron': {'a': 14, 'b': 10, 'c': 4}, 'course': {'d': 45, 'e': 34, 'f': 1}}

In [56]:
d_1={'ineuron': {'a': 14, 'b': 10, 'c': 4}, 'course': {'d': 45, 'e': 34, 'f': 1}, 
     "g" : 354, "h":[45,6,7,8,3] , 'i' :(45,34,2) , 'k' :"nami"}

In [57]:
l1=[]
for i in d_1.values():
    if type(i)==dict:
        l1.append(max(i.values()))
    elif type(i)==list:
        l1.append(max(i))
    elif type(i)==tuple:
        l1.append(max(i))
    elif type(i)== str:
        pass
    else:
        l1.append(i)
print(max(l1))

354

In [58]:
type(1)

int

In [60]:
t =(5,8,9,7)
max(t)

9